
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> Allow Clients to Make Appointments Online </h1>
    <p class="h3"> Sign Up -> Get A Link -> Add To Your Website/Facebook Page or Anywhere else -> Book Clients! </p>
  </div>
</div>
<div>
  <div class="container text-center" >
    <h2>Calendar Dashboard</h2>
    <p>Convienently view all appointments from a calendar dashboard</p>
  </div>
  <div class="text-center" style="padding-bottom: 64px">
    <img
      class="img-fluid"
      alt="Calendar Dashboard"
      src="../assets/calendar.png"
    />
  </div>
  <div class="container text-center" >
    <h2>View Individual Appointments</h2>
    <p>All Your Appointments or Bookings Displayed on One Central Calendar</p>
  </div>
  <div class="text-center" style="padding-bottom: 64px">
    <img
      class="img-fluid"
      alt="Calendar Dashboard"
      src="../assets/appointment-details.png"
    />
  </div>
  <div class="container text-center" >
    <h2>A Link You Can Add to Any Platform</h2>
    <p>Reduce Friction for Clients and Allow Them to Book from Any Platform</p>
  </div>
  <div class="text-center">
    <a href="/add-appointment/Boston3DScans">onedocket.io/add-appointment/Boston3DScans</a>
  </div>
  <div class="text-center" style="padding-bottom: 64px">
    <img
      class="img-fluid"
      alt="Calendar Dashboard"
      src="../assets/add-appointment.png"
    />
  </div>
  <div class="container text-center" >
    <h2>Pricing</h2>
    <h2 style="padding-bottom: 240px;">$6,700,000/month</h2>
  </div>
</div>
